{% extends 'base.html' %}

{% block main %}
<main>
    <div class="messages" style="width: 300px; height: 500px;">
        {% for message in conversations %}
            {% if message.sender == request.user %}
                <div class="message">
                    <div class="message-content">{{ message.content }}</div>
                    <div class="message-delete">
                        <a class="btn btn-danger" href="{% url 'deleteMessage' message.id %}">Delete</a>
                    </div>
                </div>
            {% else %}
                <div class="message">
                    <div class="message-sender">
                        <a href="#">@{{ message.user.username }}</a> | {{ message.created_at | timesince }}
                    </div>
                    <div class="message-content">{{ message.content }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="send-message">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name='content' placeholder="Message..." required/>
            <button type="submit">Send</button>
        </form>
    </div>
</main>
{% endblock main %}